#pomodoro {
  position: relative;
  width: 240px;
  height: 300px;

  .countdown {
    position: absolute;
    width: 80px;
    height: 50px;
    top: 95px; /* (240/2) - (50/2) = 95px */
    left: 80px; /* (240/2) - (80/2) =  80px*/
    background-color: transparent;
  }
}