/* Color Palette */
@font-face {
  font-family: Digital;
  src: url('digital-7.ttf');
}
@font-face {
  font-family: Play;
  src: url('play.ttf');
}
#pomodoro {
  position: relative;
  width: 240px;
  height: 300px;
}
#pomodoro .countdown {
  position: absolute;
  width: auto;
  height: 50px;
  top: 95px;
  /* (240/2) - (50/2) = 95px */
  left: 80px;
  /* (240/2) - (80/2) =  80px*/
  font-family: Digital, sans-serif;
  font-size: 28pt;
  text-align: center;
  line-height: 40pt;
  color: white;
}
#pomodoro .cockpit {
  width: 100%;
  display: inline-block;
  text-align: center;
}
#pomodoro .cockpit .buttom {
  font-family: Play, sans-serif;
  font-size: 36pt;
  padding: 0 10px 0 10px;
  color: #A71414;
}
#pomodoro .cockpit #play:before {
  content: '\e800';
}
#pomodoro .cockpit #add:before {
  content: '\e802';
}
